body
  {
   margin:0;
   padding:0;
   background-color:#f1f1f1;
  }
/* .pagination {
  display: inline-block;
  border: 2px solid red;
  border-radius: 5px;
  left: 200px;
}

.pagination a {
  color: red;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
} */

.pagination {
  display: inline-block;
  border: 2px solid #a9a9a9 ;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
/*icon for fname*/
#fnamesuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 85px;
  color: green;
  display: none;
}
#fnameerror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 85px;
  color: red;
  display: none;
}
#fnamewarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 85px;
  color: orange;
  display: none;
}
#fnamespanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#fnamespanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for lname*/
#lnamesuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 122px;
  color: green;
  display: none;
}
#lnameerror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 122px;
  color: red;
  display: none;
}
#lnamewarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 122px;
  color: orange;
  display: none;
}
#lnamespanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#lnamespanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for uname*/
#unamesuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 160px;
  color: green;
  display: none;
}
#unameerror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 160px;
  color: red;
  display: none;
}
#unamewarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 160px;
  color: orange;
  display: none;
}
#unamespanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#unamespanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for email*/
#emailsuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 210px;
  color: green;
  display: none;
}
#emailerror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 210px;
  color: red;
  display: none;
}
#emailwarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 210px;
  color: orange;
  display: none;
}
#emailspanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#emailspanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for password*/
#passsuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 263px;
  color: green;
  display: none;
}
#passerror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 263px;
  color: red;
  display: none;
}
#passwarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 263px;
  color: orange;
  display: none;
}
#passspanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#passspanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for Confirm Password code*/
#confpasssuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 305px;
  color: green;
  display: none;
}
#confpasserror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 305px;
  color: red;
  display: none;
}
#confpasswarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 305px;
  color: orange;
  display: none;
}
#confpassspanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}
#confpassspanwarn {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: orange;
  display: none;
}

/*icon for Access code*/
#accesssuccess {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 347px;
  color: green;
  display: none;
}
#accesserror {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 347px;
  color: red;
  display: none;
}
#accesswarning {
  font-size: 15px;
  position: absolute;
  left: 475px;
  top: 347px;
  color: orange;
  display: none;
}
#accessspanerr {
  font-size: 13px;
  padding-left: 5px;
  bottom:5px;
  color: red;
  display: none;
}

 /* style for parsley validation form */
 input.parsley-success,
  select.parsley-success,
  textarea.parsley-success,
  .is-valid {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
  }

  input.parsley-error,
  select.parsley-error,
  textarea.parsley-error,
  .is-invalid {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
  }

  .parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
  }

  .parsley-errors-list.filled {
    opacity: 1;
  }

  .parsley-type,
  .parsley-required,
  .parsley-equalto,
  .parsley-pattern,
  .parsley-urlstrict,
  .parsley-length,
  .parsley-checkemail,
  .parsley-username{
  color:#ff0000;
  }

  /* plus button */
  .center{
    width: 150px;
      margin: 40px auto;
      
    }
